absl-py
astor
cachetools
certifi
chardet
click
Flask
Flask-Cors
gensim
gevent
glob
graphviz
grpcio
gunicorn
h
hpy
Jinja
joblib
matplotlib
nltk
nose
notebook
numpy
opencv-python
pandas
pathlib
plotly
PyYAML
redis
requests
requests-oauthlib
scikit-image
scikit-learn
scipy
seaborn
six
sklearn
sklearn-crfsuite
sklearn-pandas
scipy
spacy
spacy-legacy
tornado
tqdm
urllib
xgboost
